:root {
    --coffee-color:#6F4E37;
    --main-transition:0.4s;
    --background-color:#f0f0f0;
    --footer-color:#cfcfcf;
}
/* body {
    background-color: #0A1929; for the hole page
    background-color: #001E3C; for home
} */
.dark {
    background-color:#0A1929 !important;
    color: white !important;
}
.dark-nav {
    box-shadow: 0px 2px 10px 0px #173A5E !important;
}
.dark .nav-link,
.dark .nav-link-icon,
.dark .nav-item {
    color: white !important;
}
.dark button {
    color: white !important;
}
.second-dark {
    background-color: #001E3C !important;
    color: white;
}
/* start main styles */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ysabeau Office', sans-serif;
}
/* end main styles */

/* start global styles */
.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px 0 50px;
    font-weight: 600;
    font-style: italic;
    color:var(--coffee-color);
    font-size: 3em;
}
/* ----------------------- */
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.separator .img-separator {
    width:100px;
    height: 100px;
    position: relative;
    
}
.separator .img-separator::after,
.separator .img-separator::before {
    content: "";
    height: 3px;
    width: 100px;
    background-color: var(--coffee-color);
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
}
.separator .img-separator::after {
    right: -62px;
}
.separator .img-separator::before {
    left: -80px;
}
.separator img {
    width: 100%;
    height: 100%;
    position: relative;
}
/* ----------------------- */
ul {
    list-style: none;
}
/* end global styles */

/* start js styles */
.hidden {
    display: none !important;
}
.center-icons-collapse {
    width: 15%;
    margin: 0 auto;
}
/* end js styles */

/* start nav */
nav {
    width: 100%;
    position: fixed !important;
    top: 0;
    height: 9vh !important;
    z-index: 1111;
}
@media (width < 992px) {
    nav {
        height:fit-content !important;
    }
}
nav .brand {
    width:fit-content;
    position: relative;
    z-index: 1;
}
nav .brand a,
footer .brand a {
    color:var(--coffee-color) !important;
    font-size: 1.7em;
    font-weight: 600;
}
nav .brand a:hover,
footer .brand a {
    color:var(--coffee-color);
}
nav .nav-link,
nav .nav-link-icon {
    font-size:1.1em;
    font-weight: bold;
    position: relative;
    margin: 0 5px;
    color:rgba(0,0,0,0.65) !important;
}
nav .focused {
    color: var(--coffee-color) !important;
}
nav .nav-link::after,
nav .focused::after {
    content: "";
    position: absolute;
    background-color: var(--coffee-color);
    height: 2.5px;
    bottom: 5px;
    left: 0;
    transition: var(--main-transition);
}
nav .focused::after {
    width: 100% !important;
}
nav .nav-link::after {
    width: 0%;
}
nav .nav-link:hover::after{
    width: 100%;
}
nav .nav-link:hover,
nav .nav-item:hover,
nav .nav-link-icon:hover {
    color: var(--coffee-color) !important;
}
nav .cart-link {
    position: relative;
}
nav .cart-link .cart {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 0.8em;
    background-color: var(--coffee-color);
    top: -8px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: var(--main-transition);
}
nav .cart-link:hover .cart {
    top: -11px
}
nav .notification {
    transition:var(--main-transition);

}
nav .badge {
    background-color: var(--coffee-color)!important;
}
nav .notification:hover .badge {
    top: -3px
}
nav .light-mode,
nav .dark-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(0,0,0,0.65);
}
nav .light-mode:hover,
nav .dark-mode:hover {
    color:var(--coffee-color);
}
nav button:hover {
    color: var(--coffee-color) !important;
}
/* end nav */

/* start section home */
.home {
    /* height:calc(100vh - 9vh); */
    height: 100vh;;
    background-color:#ddd;
    margin-top: 61px;
    position: relative;
    overflow: hidden;
}
.home .home-div {
    width: 100%;
    height: 100%;
}
.home .fly-img-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}
.home .fly-img-top-left {
    position: absolute;
    top: -50px;
    left: -45px;
    width: 250px;
}
.home .home-div .row {
    width: 100%;
    height: 100%;
}
.home .home-div .row .header-text,
.home .home-div .row .header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home .home-div .row .header-text h1 {
    font-weight:600;
    font-size: 2.9em;
    line-height:55px;
}
.home .home-div .row .header-text span {
    color: var(--coffee-color);
}
.home .home-div .row .header-text p {
    font-size:1.1em;
    margin: 10px 0;
}
.home .home-div .row .header-text button {
    background-color: var(--coffee-color);
    color: white;
    font-style: italic;
    font-size: 1.2em;
    transition:var(--main-transition);
}
.home .home-div .row .header-text button:hover {
    transform:scale(1.1);
}
.home .home-div .row .header-img img {
    max-width: 100%;
    height: 90vh;
    animation: change-img 1s alternate infinite;
}
@keyframes change-img {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
}
/* end section home */

/* start section about */
.about {
    height:fit-content;
}
.about,.menu,.news,.counting-statues,.contact,footer {
    width: 100%;
    margin: 0;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
}
.about .fly-img-top-left{
    position: absolute;
    top: -85px;
    left: 0;
    width: 350px;
}
.about .fly-img-top-right {
    position: absolute;
    top: -85px;
    right: -100px;
    width: 400px;
}
.about #service-1,
.about #service-2,
.about #service-3 {
    border-right: 1px solid var(--coffee-color);
}
.about svg,
.about h3 {
    color: var(--coffee-color);
}
.about p {
    text-align: center;
    font-size:1em;
}
/* end section about */

/* start section menu */
.menu {
    height:fit-content;
    background-color: var(--background-color);
}
.menu .fly-img-middle-left {
    position: absolute;
    left: -20px;
    width: 170px;
    bottom: -35px;
    rotate: 30deg;
}
.menu .fly-img-top-right {
    position: absolute;
    top: -40px;
    right: 0;
    width: 180px;
}
.menu .row {
    height:100%;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.menu .row .menu-img {
    width:20%;
    margin-right: 15px;
    /* margin-bottom: 135px; */
}
@media (width < 992px) {
    .menu .row .menu-img {
        width:50%;
    }
}
.menu .row .menu-img img {
    max-width: 100%;
    /* height: 83.34px; */
}
.menu .row .menu-info p {
    margin-bottom:0;
    font-weight: 600;
    font-size:1.3em;
}
.menu .row .menu-info h3 {
    margin-bottom:0;
}
.menu .row .menu-info .name-price {
    margin-bottom:15px;
}
.menu .row .next-prev-btns {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 20px;
    margin-top: 20px;
}
.menu .row .next-prev-btns button {
    padding:10px 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    width:40px;
    height:40px;
    margin: 20px 50px 0;
    outline: none;
    border: none;
    color: white;
    background-color: var(--coffee-color);
    font-size:1.5em;
}
/* end section menu */
/* start section news */
.news {
    /* background-image: url("/pics/bg-1.jpg"); */
    background-image: url("/pics/news-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
}
.news .container h1 {
    color: white;
}
.news p {
    color: white;
}
.news button {
    background-color: var(--coffee-color);
    color: white;
    padding:10px 15px;
    width:30%;
    font-size: 1.2em;
    transition: var(--main-transition) !important;
    font-weight: 600;
}
.news button:hover {
    background-color: var(--coffee-color);
    color: white;
    border-radius: 35px;
}
.news button:active {
    border: 1px solid var(--coffee-color) !important;
    color: var(--coffee-color) !important;
}
.news .first-img-section img:first-child,
.news .first-img-section img:last-child {
    height: 300px;
}
/* end section news */

/* start section reviews */
.reviews {
    height:fit-content;
    background-color:var(--background-color);
    width: 100%;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.reviews .review-fly-img-1 {
    position: absolute;
    width: 200px;
    top: 0;
    left: -30px;
}
.reviews .review-fly-img-2 {
    position: absolute;
    width: 170px;
    bottom: -50px;
    right: -10px;
}
.reviews .row .review {
    border: 2px solid var(--coffee-color);
    height: 45vh;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
}
@media (width < 490px) {
    .reviews .row .review {
        height: fit-content !important;
    }
}
.reviews .row .review:first-child img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.reviews .row .review .review-info .user-name-email h5 {
    color: var(--coffee-color);
    font-size: 1.5em;
}
.reviews .row .review .review-info .user-name-email p {
    font-size: 1.2em;
    cursor: pointer;
}
.reviews .row .review .review-info ul li {
    margin: 0 3px;
    color: var(--coffee-color);
}
@media (width<425px) {
    .reviews .row .review .review-info {
        flex-wrap: wrap;
    }
    .reviews .row .review .review-info ul {
        width: 100%;
        justify-content: start;
        padding-left: 0;
    }
}
.reviews .row .review .review-description blockquote {
    font-size: 1em;
    line-height: 25px;
}
.reviews .row .review .review-description blockquote::before,
.reviews .row .review .review-description blockquote::after {
    font-size: 4em;
    position: relative;
    color: var(--coffee-color);
    bottom: -15px;
}
.reviews .row .review .review-description blockquote::before {
    content: "\201C";
    line-height:20px;
    right: 5px;
}
.reviews .row .review .review-description blockquote::after {
    content: "\201D";
    line-height: 0px;
    left: 5px;
    bottom: -20px;
}
.reviews .row .pages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    height:10vh;
}
.reviews .row .pages .page-switch {
    display: flex;
    gap:1em;
}
.reviews .row .pages .page-switch button {
    width:20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid var(--coffee-color);
    transition: var(--main-transition);
}
.reviews .row .pages .page-switch button:hover {
    background-color: var(--coffee-color);
    scale:1.2;
}
.reviews .row .pages .page-switch .switched-btn {
    background-color: var(--coffee-color);
    scale:1.2;
    border: none;
}
/* end section reviews */

/* start section contact */
.contact .contact-fly-img-1 {
    position: absolute;
    top: -75px;
    right: -80px;
}
.contact .email-input {
    width:50%;
    font-size: 2em;
    font-weight: 600;
    color: var(--coffee-color);
    font-style:italic;
    margin-left: 75px;
}
.contact .email-input label {
    color: var(--coffee-color);
}
.contact .email-input input {
    font-size:0.6em;
    border: 1px solid var(--coffee-color);
}
.contact .email-input input:focus {
    outline:none;
    box-shadow: none;
}
.contact .email-input input::placeholder {
    font-size:1.1em;
    color: var(--coffee-color);
}
.contact button {
    background-color: var(--coffee-color);
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 1.1em;
    color: white;
    padding:6px 12px;
}
.contact button:hover {
    background-color: var(--coffee-color);
    box-shadow: none !important;
    color: white;
}
.contact button:active {
    background-color: var(--coffee-color) !important;
    color: white !important;
    border: 1px solid var(--coffee-color) !important;
}
@media (width < 992px ) {
    .contact .email-input {
        margin-left: 0 !important;
        width: 75%;
    }
    .contact .submit-btn {
        width:25%;
    }
}
@media (width < 768px ) {
    .contact .email-input {
        width:100%;
    }
    .contact .submit-btn {
        width:75% !important;
    }
}
/* end section contact */
/* start footer */
footer {
    background-image: url("/pics/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    color: var(--footer-color);
}
footer::after {
    content:"";
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 0;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}
footer a,
footer p,
footer h6,
footer span,
footer svg {
    color: var(--footer-color) !important;
}
footer section,footer .copyright {
    position: relative;
    z-index: 111;
    color: var(--footer-color) !important;
}
footer .brand a {
    text-transform: none;
    font-size:2.2em;
    width: fit-content;
}
@media (width < 992px) {
    footer .brand a {
        font-size:1.9em !important;
    }
}
@media (width < 768px) {
    footer .brand a {
        font-size:2.3em !important;
    }
}
footer img {
    width:75px;
    height: 75px;
}
@media (width < 1200px) {
    footer img {
        width:65px;
        height:65px;
    }
}
@media (width >= 1200px) {
    footer img {
        width:75px;
        height:75px;
    }
}
@media (width < 992px) {
    footer img {
        width:75px;
        height:75px;
    }
}
@media (width < 768px) {
    footer img {
        width:100px;
        height:100px;
    }
}
footer .copyright {
    border-top: 1px solid var(--footer-color);
}
/* end footer */

/*start fixing some responsive problems */
@media (width < 992px) {
    .home .fly-img-bottom-right {
        width: 300px !important;
    }
    .home {
        margin-top:45px !important;
    }
    .about .fly-img-top-right,
    .about .fly-img-top-left {
        width: 300px !important;
    }
    .contact .contact-fly-img-1 {
        top: -45px;
        right: -50px;
        width: 320px !important;
    }
}
@media (width < 768px) {
    .about #service-1,
    .about #service-2,
    .about #service-3 {
        border-right: none;
        border-bottom: 1px solid var(--coffee-color);
    }
    .contact .contact-fly-img-1 {
        top: -40px;
        right: -35px;
        width: 250px !important;
    }
}
@media (width < 576px) {
    .home .fly-img-bottom-right {
        width: 200px !important;
    }
    .home .fly-img-top-left {
        width: 200px !important;
    }
    .about .fly-img-top-right {
        width: 250px !important;
        top: -70px;
        right: -80px;
    }
    .about .fly-img-top-left {
        width: 250px !important;
    }
    .menu .fly-img-top-right {
        width: 130px;
        top:-60px;
    }
    .menu .fly-img-middle-left {
        width:130px;
    }
    .news button {
        width:38%;
    }
    .news p {
        font-size:1rem !important;
    }
    .reviews .review-fly-img-1 {
        width: 135px !important;
    }
    .reviews .review-fly-img-2 {
        width: 120px !important;
        bottom: -25px;
    }
}
@media (width < 400px) {
    .home h1 {
        font-size:2.5em !important;
    }
    .home .fly-img-bottom-right {
        width: 150px !important;
    }
    .home .fly-img-top-left {
        width: 150px !important;
        top:-37px !important;
    }
    .about .fly-img-top-left {
        width: 200px !important;
    }
    .menu .fly-img-top-right {
        width: 100px;
        top:-60px;
    }
    .menu .fly-img-middle-left {
        width:80px;
        bottom: -10px;
    }
    .news button {
        width:60%;
    }
    .reviews .review-fly-img-1 {
        width: 110px !important;
    }
    .reviews .review-fly-img-2 {
        width: 100px !important;
    }
    .contact .contact-fly-img-1 {
        top: -28px;
        right: -20px;
        width: 170px !important;
    }

}
/*end fixing some responsive problems */
/* rgb(16,16,41) */